*.vdf
*.log
/js/plugins/.i18n_backups
/js/plugins/mz3d.js
/data/Test_*.json
/save
/data/bologna
data/Armors.json.bak-1787250368483
data/Skills.json.bak-1787250469389
data/Skills.json.bak-1787250878501
data/Skills.json.bak-1787342829901
